@page "/hospitals"
@using Blazor.Project.WebApp.Hospital.Models
@inject IHospitalService HospitalService

<PageTitle>Hospitals</PageTitle>

<h1>Hospitals</h1>

<p>Find hospitals already registered in our database.</p>

@if (_hospitals == null)
{
<p>
    <em>Loading...</em>
</p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var hospital in _hospitals)
    {
    <tr>
        <td>@hospital.Id</td>
        <td>@hospital.Name</td>
        <td></td>
    </tr>
    }
    </tbody>
</table>
}

@code {
    private List<GetHospitalOutputModel>? _hospitals;

    protected override async Task OnInitializedAsync()
    {
        _hospitals = await HospitalService.GetAll() ;
    }
}